{% extends 'base.html' %}

{% block body %}

<div class="container container text-center text-muted pt-5">

<h2 class="pb-3">Agenda</h2>
    <div class="agenda">
        <div>
            <table class="table-dark table-bordered text-center text-muted pt-5" align="center">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>kartodromo</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">20 Fevereiro 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">13 Marco 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">10 Abril 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            15:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">15 Maio 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            15:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">12 Junho 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">17 Julho 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">21 Agosto 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">11 Setembro 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">02 Outubro 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">06 Novembro 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date pl-5 pr-5" class="active" rowspan="1">
                            <div class="dayofmonth">11 Dezembro 2021 - Sabado</div>
                        </td>
                        <td class="agenda-time pl-5 pr-5">
                            16:00
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event pl-5 pr-5">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Ascurra - ENDURANCE
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


{% endblock %}