{% extends 'base.html' %}

{% block body %}
<div class="container p-5 m-4 text-muted mx-auto" align="center">
    <ul>
        <li class="container">
            <img src="../static/imagens/ambgeo.jpg" type="button" class="btn" style="width: 40%;padding-right: 5%;" data-toggle="modal" data-target="#ambgeo">
            <div class="modal fade" id="ambgeo" tabindex="-1" role="dialog" aria-labelledby="ambgeo" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ambgeo">Ambgeo Engenharia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <H2>AMBGEO Assessoria e Consultoria em Engenharia Ltda. – ME.</H2>
                      <h4>Rua Paulo Zimmermann, 118 – SL 1305 Edifício Atenas Blumenau</h4>
                      <h4><a href="http://www.ambgeoengenharia.com.br" target="_blank">http://www.ambgeoengenharia.com.br</a></h4>
                      <h4>comercial@ambgeoengenharia.com.br</h4>
                      <h4>(47) 3237-5661 / 3237-5664</h4>
                  </div>
                </div>
              </div>
            </div>
        </li>

        <li class="container">
            <img src="../static/imagens/alles_dog.jpg" type="button" class="btn" style="width: 35%;padding-right: 5%;" data-toggle="modal" data-target="#allesdog">
            <div class="modal fade" id="allesdog" tabindex="-1" role="dialog" aria-labelledby="allesdog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="allesdog">Alles Dog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <H1>ALLES DOG Food truck.</H1>
                      <h4>Rua 25 de Julho, 599 - Itoupava Norte, Blumenau - SC.</h4>
                      <h4><a href="https://bit.ly/4798832_8263" target="_blank">WhatsApp</a></h4>
                      <h4><a href="http://alles-dog.qrpedir.com" target="_blank">Cardápio</a></h4>
                      <h4><a href="https://www.facebook.com/allesdogbnu/" target="_blank">Facebook</a></h4>
                   </div>
                </div>
              </div>
            </div>
        </li>

        <li class="container">
            <img src="../static/imagens/logo_cafe.png" alt="Logo Site" style="width: 40%;padding-right: 5%">
        </li>

        <li class="container">
            <img src="../static/imagens/logo_megapizza.png" alt="Logo Site" style="width: 40%;" class="btn" style="width: 10%;padding-right: 5%;" data-toggle="modal" data-target="#mega">
            <div class="modal fade" id="mega" tabindex="-1" role="dialog" aria-labelledby="mega" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="#mega">Mega Pizza</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <H2>MEGA PIZZA</H2>
                      <h4>Rua Joinville, 1017 - Vila Nova - Blumenau</h4>
                      <h4><a href="https://www.facebook.com/Mega-Pizza-Express-274651736004466/" target="_blank">Facebook</a></h4>
                      <h4>megapizza@ultimahora.org.br</h4>
                      <h4>0800 600 3611</h4>
                  </div>
                </div>
              </div>
            </div>
        </li>

        <li>
           <img src="../static/imagens/acriblu.jpg" alt="Logo Site" style="width: 40%;padding-right: 5%" class="btn" style="width: 18%;padding-right: 5%;" data-toggle="modal" data-target="#acriblu">

            <div class="modal fade" id="acriblu" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="#acriblu">Acriblu Acrilicos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <H2>ACRIBLU ACRILICOS</H2>
                      <h4>Rua Francisco Vahldieck, 2510 - Fortaleza - Blumenau</h4>
                      <h4><a href="http://www.drdsports.com.br" target="_blank">http://www.drdsports.com.br</a></h4>
                      <h4>vendas@drdsports.com.br</h4>
                      <h4>(47) 3339-4384</h4>
                  </div>
                </div>
              </div>
            </div>
        </li>
    </ul>


</div>

{% endblock %}