{% extends 'base.html' %}

{% block body %}
<div class="container pt-5">
    <body style=font-color="white">
        <blockquote class="text-muted blockquote text-center ">
            <h1 class="m-3"><small class="text-muted mx-auto">A BRINCADEIRA QUE VIROU COPA</small></h1>
            <p>Um grupo de amigos resolveu dar umas voltas no Kartódromo de Indaial dia 04 de março de 2016, que por acaso choveu e os sensores dos karts não funcionaram, o grupo resolveu marcar outra corrida, dessa vez em Ascurra e tudo certo, tempos de todos nas mãos, o grupo resolveu pegar essa classificação e marcar a cada dois meses em kartódromos diferentes uma corrida e elaborar uma tabela de pontuação, deu certo, a nossa primeira copa estava montada e foram realizadas 6 corridas em 2017.</p>
            <p>Como o grupo era pequeno, resolvemos preencher o grid com convidados apenas amigos, em seguida veio o patrocínio da empresa Café Artesanal do nosso amigo Washington que correu também. </p>
            <p>Dessa forma com muitos amigos, e amigos dos amigos convidados, viu-se a necessidade de ampliar nossa copa e montar um regulamento, assim poderíamos ter uma copa muito bem organizada e que seria nossa brincadeira de amigos dos amantes da velocidade.</p>
            <p>Para 2018 foram marcada 10 etapas sendo a pista principal de Ascurra, foi elaborado um site e uma logo da copinha e assim começamos o ano de 2018 com muita animação e empolgação para fazermos uma supercopa. Agora além da Café Artesanal os amigos corredores Tiago Krabbe e Fabricio donos da empresa AMBGEO toparam patrocinar também começando muito forte essa nossa brincadeira. A motivação é que seja uma copa muito boa com boas disputas e muitas amizades novas.</p>
        </blockquote>>
    </body>
</div>


{% endblock %}