{% extends 'base.html' %}

{% block body %}
<div class="container text-center text-muted pt-5"><h1>Videos 2017</h1></div>

<div class="container text-center text-muted mt-5 mb-5">
  <div class="row mb-5">
    <div class="col-sm">
        <iframe width="840" height="500" src="https://www.youtube.com/embed/videoseries?list=PLX0PA-max1UL0QvWWe_rtMO-CZkDN3vag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}