{% extends 'base.html' %}

{% block body %}


<h1 class="container text-muted text-center pt-2 pb-5">Regulamento</h1>

<div class="container mx-auto row">
    <div class="col-3">
        <div id="list-example" class="list-group container" data-offset="0" data-spy="scroll" style="height: 520px; overflow-y: auto;" role="tablist">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Artigo 1º - Considerações iniciais</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Artigo 2º - Forma de disputa</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">ARTIGO 3º - Datas e corridas</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">ARTIGO 4º - Lastros</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">ARTIGO 5º - Comissão Julgadora</a>
          <a class="list-group-item list-group-item-action" href="#list-item-6">ARTIGO 6º Acidentes e punições</a>
          <a class="list-group-item list-group-item-action" href="#list-item-7">ARTIGO 7º Grid de largada</a>
          <a class="list-group-item list-group-item-action" href="#list-item-8">ARTIGO 8º - Critérios de desempate</a>
          <a class="list-group-item list-group-item-action" href="#list-item-9">ARTIGO 9º - Categorias</a>
          <a class="list-group-item list-group-item-action" href="#list-item-10">ARTIGO 10º - Pontuação</a>
          <a class="list-group-item list-group-item-action" href="#list-item-11">ARTIGO 11º : Premiação</a>
        </div>
    </div>

    <div class="col-8 text-muted">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example container" style="height: 520px; overflow-y: auto;" align="justify">
          <h4 id="list-item-1" class="mt-2">Artigo 1º - Considerações iniciais</h4>
          <p>§1º - Este regulamento elaborado pela DIRETORIA EXECUTIVA tem por finalidade oferecer melhor segurança, competitividade e justiça para todos os pilotos, proporcionando uma competição sadia e equilibrada visando à confraternização entre amigos.</p>
          <p>§2º - A corrida terá duração de 20 minutos/voltas.</p>
          <p>§3º - A primeira e a última prova do ano terá tomada de tempo para o posicionamento do grid de largada. Nas outras provas da copa o posicionamento do grid de largada é a classificação da copa sendo que o primeiro o segundo lugar e (o terceiro em caso de 10 ou mais pilotos) do campeonato serão o ultimo e penúltimo e antepenúltimo respectivamente no grid</p>
          <p>§4º - Será cobrado um valor de inscrição por piloto no valor de R$ 100,00 (cem reais) para pagamentos de despesas e confraternização. A inscrição deve ser paga até uma semana antes do inicio da copa ou se tiver algum piloto novo após inicio da copa no momento da inscrição. </p>
          <p>§5º - O valor da inscrição não será devolvido sob hipótese nenhuma.</p>
          <p>§6º A DIRETORIA EXECUTIVA apenas negocia com o kartódromo para buscar o melhor preço e forma de pagamento. A DIRETORIA EXECUTIVA não tem nenhuma decisão sobre valores pago ao kartódromo, sendo que qualquer negociação é direto com o kartódromo, acerto de pagamentos e ou restituição de qualquer valor por motivo de doença, desistência ou exclusão de alguma prova já paga, deverá ser negociado diretamente com o kartódromo.</p>
          <p>§7º - Piloto convidado a participar de alguma etapa do campeonato deverá pagar um valor de 10 reais para o grupo por etapa que participar, mais o pagamento para o kartódromo, além de se enquadrar nas regras do kartódromo e da copa.</p>
          <p>§8º – O piloto que for convidado deverá ser indicado por quem convidou, a partir do final da última prova para a DIRETORIA EXECUTIVA, sendo que o primeiro convidado que for comunicado é que está na vez conforme as vagas disponíveis desde que pague o valor de 10 reais de inscrição.</p>
          <p>§9º - Se um piloto convidado decidir entrar na copa, os pontos conquistados nas etapas em que estava correndo como convidado não será computado para o campeonato, apenas na etapa em que decidir entrar na copa. Deverá manifestar seu interesse e aprovado pela DIRETORIA EXECUTIVA, tendo que se enquadrar no atual regulamento. A partir deste momento, começará a valer a pontuação conquistada naquela etapa. Os valores pagos nas etapas anteriores como convidados serão deduzidos do valor de 100 reais para inscrição no campeonato, devendo pagar a diferença para participar da copa.</p>
          <p>§10º - Será aplicado o método de descarte para uma etapa. O pior resultado de cada piloto será descartado na tabela de classificação no final da copa para o resultado geral. Sendo assim serão disputadas 10 etapas, mas somente 09 serão computadas na classificação geral da copa.</p>
          <p>§11º - A corrida que o piloto tiver punições (perda de tempo ou exclusão de alguma etapa) não será considerada na aplicação do descarte, sendo que aquela prova que o piloto foi penalizado não poderá ser descartada. Somente serão descartados os resultados reais de provas sem punições e a não participação em algumas das corridas pode ser usada no descarte.</p>

          <h4 id="list-item-2">Artigo 2º - Forma de disputa</h4>
          <p>§1º - Serão realizadas 10 etapas, sempre aos sábados conforme anexo 1, sendo que o pagamento é direto entre pilotos e kartódromo conforme negociação kartódromo - DIRETORIA EXECUTIVA.</p>
          <p>§2º - A DIRETORIA EXECUTIVA, formada pelos pilotos Egomar, Denis, Jaison, Osni e Tiago Krabe são responsáveis pelas finanças do grupo, contatos com os Kartódromo, regulamento e organização geral do campeonato.</p>

          <h4 id="list-item-3" class="mt-2">ARTIGO 3º - Datas e corridas</h4>
          <p>§1º - As corridas serão realizadas conforme calendário do anexo 1.</p>
          <p>§2º - A prova só será cancelada por motivos de problemas técnicos do kartódromo ou se ocorrerem eventos climáticos, sendo que a DIRETORIA EXECUTIVA avaliará as possibilidades de marcação de nova prova em outro horário e/ou data.</p>
          <p>§3º - No caso de chuva forte na hora do início da prova sem condições de corrida, será aguardado até uma hora para começar a corrida ou conforme determinado pelo kartódromo em conformidade com a DIRETORIA EXECUTIVA, ou transferido para a primeira data possível, desde que decidido pela maioria dos pilotos presentes na prova. Se não houver maioria para marcar uma nova data aquela etapa pode ser cancelada para a copa.</p>
          <p>§4º - No caso em que a corrida esteja acontecendo e a chuva obrigar a interrupção da prova, e se não houver mais possibilidades de reiniciar a prova em até uma hora após a interrupção e tenha sido completado mais de 60% da corrida, poderá ser considerado o resultado oficial da prova.</p>
          <p>§5º - No caso em que a corrida esteja acontecendo, e a chuva/vendaval obrigar a interrupção da prova e se não houver mais possibilidades de reiniciar a corrida em até uma hora da interrupção da corrida, e não tenha sido completado 60% da corrida, poderá ser considerado o resultado oficial da prova com a metade da pontuação da corrida normal. </p>
          <p>§6º - Se houver reinicio da prova será montado o grid em fila indiana com as posições da última volta a anterior a paralisação e a largada com os karts parados.</p>
          <p>§7º - Na eventual possibilidade de não haver resultado por motivos de problemas na cronometragem, confirmado pela organização do kartódromo, a corrida poderá ser cancelada (retirada da pontuação) ou refeita em outra data, sendo que as possibilidades deverão ser analisadas pela DIRETORIA EXECUTIVA. As corridas canceladas não serão computadas para a regra de descarte.</p>
          <p>§8º - Se houver problemas na cronometragem em relação a melhor volta, não terá a pontuação de melhor volta computada.</p>
          <p> §9º Se houver problemas na cronometragem pro grid, a volta deverá ser realizada novamente.</p>
          <p>.</p>

          <h4 id="list-item-4" class="mt-2">ARTIGO 4º - Lastros</h4>
          <p>§1º - O lastro para a temporada é de 90 kg para todas as categorias. Se houver categoria feminino será avaliado o lastro com a Diretoria Executiva.  </p>
          <p>§2º - Os pilotos são os responsáveis e deverão obrigatoriamente correr com os respectivos pesos (lastro) fornecidos pelo kartódromo ou pesos trazidos pelos pilotos.</p>
          <p>§3º - Caso o kartódromo, por qualquer motivo, não dispuser de lastro no momento da corrida, poderá haver a etapa desde que todos os pilotos de cada categoria concordem, se não concordarem a prova será transferida ou cancelada.</p>
          <p>§4º - Caso ocorra a necessidade de troca de kart durante a corrida, após a largada, e o lastro não puder ser realocado, o piloto poderá correr normalmente.</p>
          <p>§5º - Se a troca do kart for antes da largada, deverá ser realocado o lastro, inclusive para a tomada de tempo da primeira e última prova, sendo que o piloto é o responsável para cobrar e/ou colocar o lastro para o kart substituto.</p>
          <p>§6º - Os pilotos convidados também receberão lastros antes da prova e deverão seguir todas as regras acima.</p>

          <h4 id="list-item-5" class="mt-2">ARTIGO 5º - Comissão Julgadora</h4>
          <p>§1º - Será eleita uma Comissão Julgadora com dois membros titulares para o mandato de 2021 exclusivamente para julgamentos de reclamações de casos ocorrido nas corridas, conforme o regulamento. A votação será secreta e com a opção de dois votos de cada piloto. Será eleita a Comissões que fará os julgamentos das reclamações de casos de batidas. A Comissão será formada pelos pilotos eleitos na ordem de votação sendo que o 3º em diante é reserva no caso de necessidade, ou se os pilotos eleitos estiverem sendo julgados. Em caso de empate de votos a preferência é do piloto com mais tempo no grupo e persistindo o empate o piloto mais velho. O terceiro membro da Comissão julgadora e presidente da Comissão será indicado pela DIRETORIA EXECUTIVA</p>
          <p>§2º - O mandato da Comissão Julgadora será por temporada e a votação sempre no inicio do ano antes da primeira corrida, todos os pilotos podem concorrer e todos os pilotos com votos ficarão na ordem de votação, caso algum da comissão eleita desista ou for substituído.</p>
          <p>§3º - Qualquer membro da Comissão eleita pode ser substituído por um suplente desde que decidido pela maioria da própria comissão com os suplentes à pedido de pelo menos 3 membros da própria Comissão ou a pedido pela maioria dos pilotos da copa ou pela DIRETORIA EXECUTIVA. O membro substituído dará lugar ao primeiro suplente eleito dos pilotos da copa e se necessário será realizada nova eleição para compor a comissão conforme as regras de votação acima. O primeiro suplente entrará no lugar do membro substituído e o novo membro entrará no final da lista dos membros suplentes.</p>
          <p>§4º - Serão soberanas as decisões da Comissão Julgadora, depois de ouvido o infrator e o reclamante, após a decisão não cabe recurso.</p>
          <p>§5º - Se algum membro da Comissão estiver envolvido na reclamação será substituído pelo suplente da vez, que tomará o seu lugar para o caso específico.</p>
          <p>§6º - Análises de reclamações somente mediantes filmagens ou confirmação dos pilotos envolvidos. Caso os pilotos envolvidos confirmem um acidente que caiba punição, fica validado a “reclamação” sem julgamento e a punição será aplicada conforme as regras da copa.</p>
          <p>§7º - Com as filmagens em mãos o presidente da Comissão Julgadora analisará todos os acidentes da corrida sendo que se observar algum fato que caiba punição chamará a Comissão para avaliação do fato, se a Comissão entender que caiba punição informará o piloto punido que terá direito de defesa em 48h ou conforme combinado com a Comissão. </p>
          <p>§8º - Se algum piloto se achar prejudicado por alguma ação irregular de qualquer outro piloto e que não foi analisado pela Comissão, poderá fazer a reclamação junto a Comissão até 3 dias após a corrida. </p>
          <p>§9º - Na possibilidade eventual de não haver filmagem com imagens do caso, não haver testemunhas de membros da DIRETORIA EXECUTIVA ou do kartódromo não caberá reclamação. </p>
          <p>§10º Será disponibilizada as imagens das provas para todos os pilotos, quando houver filmagem, a fim de que possam ser utilizados em eventuais reclamações junto a Comissão Julgadora.</p>
          <p>§11º - A Comissão Julgadora terá até 15 dias para julgar as reclamações e até o 3º dias antes da próxima etapa para julgar todos os recursos. Para a última prova do ano a Comissão Julgadora tentará julgar de imediato qualquer reclamação, se não haver reclamações no final da última corrida a pontuação e a determinação dos campeões será oficializado. A Comissão terá até 5 dias para julgar os recursos da última prova do ano, desde que não seja possível julgar de imediato.</p>
          <p>§12º - A Comissão se reunirá em separado com os reclamantes e testemunhas e tomará a decisão em segredo, sendo que antes de oficializar a decisão ouvirá o reclamante e o reclamado quantas vezes ache necessário para a tomada de decisão. Após tomada a decisão não há mais recurso.</p>

          <h4 id="list-item-6" class="mt-2">ARTIGO 6º Acidentes e punições</h4>
          <p>§1º - Toques ou batidas que façam o oponente rodar, sair da pista e perder a posição para quem causou a batida ou qualquer outro piloto.</p>
          <p>PUNIÇÃO – 2 posições no final da prova por infração cometida, acumuladas. Caso não seja possível aplicar a perda de todas as posições na mesma prova será aplicada à perda das posições restantes na prova seguinte até o pagamento das posições.</p>
          <p>§2º - Queimar a largada: Queimada é qualquer movimentação do kart a partir do momento que o diretor da prova começar a levantar a bandeira até o acionamento, momento em que comece a baixar a bandeira para largar, nesse período o kart deve-se manter totalmente imóvel sendo qualquer mexida do kart considerado queimada.</p>
          <p>PUNIÇÃO – Acréscimo de 15(quinze) segundos no tempo final da prova, independente de ganhar posição na largada. Essa regra a Comissão Julgadora fará análises dos vídeos da largada independente de reclamações de outros pilotos. Qualquer piloto que perceber queimadas poderá abrir a reclamação. </p>
          <p>§3º - Cortar a pista pela grama ou fazer o traçado fora da pista(quatro rodas) para obter vantagem/ultrapassagem sobre o oponente: </p>
          <p>PUNIÇÃO – Acréscimo de 20(vinte) segundos no tempo final da prova. Se devolver a posição logo na seqüência não haverá punição. Se ultrapassar dois ou mais pilotos a punição é a perda de posições no final da prova do mesmo numero de pilotos que obteve vantagens e não devolveu a posição.</p>
          <p>§4º - Toque, batidas entre três ou mais competidores a punição será aplicada somente para o(s) competidor(es) que provocou o acidente enquadrando-se nas infrações acima descritas.</p>
          <p>§5º - Voltar à pista após rodada/saída de pista de forma imprudente perigosa ou negligente, independente de prejudicar qualquer piloto; causando batida e ou prejudicando outros pilotos; batidas propositais, atitudes imprudentes e/ou antidesportivas.</p>
          <p>PUNIÇÃO – Desclassificação da prova (poderá ser analisado o caso e ter outras punições a critério da DIRETORIA EXECUTIVA).</p>
          <p>§6º - Sair do kart durante a prova sem motivo questionável (se o kart estiver na pista), religar o kart sozinho em qualquer situação, atravessar a pista a pé durante a prova. Em caso de acidente ou rodada que cause o desligamento do kart na pista, o piloto deverá ficar sentado no kart com os braços erguidos sinalizando aos demais competidores e fiscais sobre o problema, aguardando até que o fiscal religue o kart ou autorize a troca, ou autorize sua saída do kart. Na eventual desistência do piloto da prova ou impossibilidade de continuar por qualquer motivo, o piloto pode retornar ao box a pé, desde que não atravesse a pista(se for possível). Tais situações dizem respeito à segurança dos competidores. Essa reclamação poderá ser feita por qualquer piloto (ou analisada pela própria Comissão Julgadora ou pela DIRETORIA EXECUTIVA).</p>
          <p>PUNIÇÃO – Desclassificação da prova.</p>
          <p>§7º LASTRO – Todo piloto é responsável em cobrar e/ou colocar o lastro no carro, se for constatado irregularidades, ou seja, se o piloto correr com menos lastro que o aferido, ou sem lastro, será punido. </p>
          <p>PUNIÇÃO – Perda de 3 posições no final da prova.</p>
          <p>§8º - Outros eventos que não fazem parte deste regulamento serão julgados a livre critério pela Comissão Julgadora e ou pela DIRETORIA EXECUTIVA, sempre optando pelo bom senso e pela preservação de uma competição sadia e justa para todos.</p>
          <p>§9º Caso haja acidentes que a Comissão Julgadora ou a DIRETORIA EXECUTIVA decidir punir o piloto infrator, e caso o piloto já estiver nas ultimas posições da chegada e não for possível aplicar todas as perdas de posições, as punições serão transferidas para a prova seguinte ou seja, terá perda de posições após o resultado final da próxima corrida.</p>
          <p>P§10º - Toda e qualquer punição ou objeção imposta pelos fiscais de pista ou o diretor de Kartódromo ou funcionários das pistas deverão ser respeitadas e não será responsabilidade da DIRETORIA EXECUTIVA nem da Comissão Julgadora da copa, acatando as diretrizes do Kartódromo e enquadrando as punições dentro das regras da nossa copa.</p>
          <p>§11º - Nos julgamentos das infrações será sempre utilizada a penalidade de maior impacto para o piloto infrator. Nas aplicações das infrações será descontado primeiro as punições por tempo e após as infrações de posições, após o resultado final</p>
          <p>§12º - Será aplicada pela DIRETORIA EXECUTIVA uma advertência e após, punições a critério da Diretoria pela reincidência para pilotos que não aceitem as decisões da Comissão Julgadora, e que causem conflitos entres os pilotos.</p>
          <p>§13º - Se houver questionamento por parte do Kartódromo referente a conduta, condução e ou comportamento de qualquer piloto desde a chegada ao Kartódromo até a saída, ou discussão entre pilotos e qualquer pessoa do kartódromo que possa denegrir, desmerecer ou colocar o grupo em conflito, será avaliada pela DIRETORIA EXECUTIVA podendo haver punições.</p>
          <p>§14º - Todo e qualquer prejuízo causado pelo piloto a qualquer kartódromo é de responsabilidade de cada um, desde a chegada até a saída do local, sendo que antes da corrida deve ser assinado um termo em cada kartódromo referente a essa responsabilidade. A DIRETORIA EXECUTIVA e a Comissão Julgadora não possuem responsabilidade (nem gerenciamento nenhum sobre o kart ou sobre qualquer kartódromo) nenhuma por qualquer que seja o dano cometido por qualquer um que participa do campeonato.</p>
          <p>§15º - Por tratar-se de um campeonato amador exigimos que a prioridade seja a boa convivência entre os pilotos. O campeonato tem o intuito de aproximar todas as pessoas que gostam do esporte. Todas e quaisquer discussões serão severamente punidas, inclusive com exclusão do campeonato. A exclusão do campeonato poderá ser a pedido por no mínimo 3 pilotos ou qualquer um membro da Comissão Julgadora ou qualquer membro da DIRETORIA EXECUTIVA, neste caso haverá possibilidade de defesa do acusado e a exclusão será por votação de todos os pilotos em votação secreta, sendo que o voto da maioria determina a punição. O trâmite sobre exclusão de algum piloto do campeonato será de responsabilidade da DIRETORIA EXECUTIVA.</p>
          <p>§16º - Toda e qualquer divergências entre Comissão Julgadora e julgados e que a resolução do problema não tiver solução ou se tornar um impasse, poderá ser solicitado pela Comissão ou pelos julgados a interferência da DIRETORIA EXECUTIVA.</p>
          <p> §17º – A DIRETORIA EXECUTIVA só interferirá se entender que é um caso gravíssimo e/ou que a Comissão Julgadora não aplicou ou não teve poder pra aplicar punições mais rígidas.</p>

          <h4 id="list-item-7" class="mt-2">ARTIGO 7º Grid de largada</h4>
          <p>§1º - A primeira e a última etapa terão a tomada de tempo para a formação do grid, nas etapas seguintes o grid será a classificação geral da copa sem descarte, sendo que o primeiro o segundo e o terceiro colocados serão respectivamente ultimo, penúltimo e antepenúltimo no grid, e a regra para desempate do posicionamento no grid se adotará o artigo 8º para a definição do grid. Caso haja piloto que entrou na copa posterior a primeira etapa e estiver empatado em todos os critérios com outro piloto para a formação do grid o piloto que está desde o começo da copa terá preferência.</p>
          <p>§2º - Se houver até 09 pilotos na categoria, apenas o primeiro e o segundo lugar irão para o fim do grid.</p>
          <p>§3º - Se faltar algum piloto no grid os pilotos das posições mais atrás assumem a posição no grid mais à frente.</p>
          <p>§4º - Os pilotos convidados sempre largarão no fim do grid e a posição de largada destes pilotos será sempre determinada por sorteio entre os mesmos. </p>
          <p>§5º - O kart será sorteado antes de cada etapa respeitando o grid de largada daquela etapa, ou seja, o sorteio será conforme o grid de largada daquela etapa sendo o primeiro sorteado quem largar em primeiro e assim sucessivamente.</p>

          <h4 id="list-item-8" class="mt-2">ARTIGO 8º - Critérios de desempate</h4>
          <p>§1 - Em caso de empate em pontos entre um ou mais pilotos serão adotados os seguintes critérios de desempate para a copa e para o grid:</p>
          <p>1° maior número de vitórias</p>
          <p>2° maior número de segundo lugar</p>
          <p>3° maior número de terceiro lugar e assim sucessivamente</p>
          <p>4º maior número de participações no ano</p>
          <p>5ª melhor tomada de tempo na primeira corrida do ano</p>
          <p>§2 - Caso ocorra de dois ou mais pilotos aparecerem no resultado oficial pelo kartódromo empatados, diferença de tempo entre eles igual a zero para a melhor volta ou no final da prova o desempate será feito em favor do piloto que tiver na pior posição na copa, se for na primeira corrida valerá o que fez a melhor tomada de tempo. </p>
          <p>§3 – Após apurado a classificação no caso de empate ai sim poderá ser determinada as possíveis punições.</p>

          <h4 id="list-item-9" class="mt-2">ARTIGO 9º - Categorias</h4>
          <p>§1 - A Copa Kart dos Amigos será dividida em categorias para 2021:</p>
          <p>1 - Categoria ELITE constituído pelos pilotos que tiveram o melhor desempenho em 2020 tanto nas provas da Copa kart dos Amigos quanto nos treinos livres pré-temporada, ou poderá ser piloto de outros grupos que tenham rendimentos parecidos com os da elite e sejam convidados pela DIRETORIA EXECUTIVA.</p>
          <p>2 - Categoria MASTER, constituído pelos demais pilotos.</p>
          <p>3 – Categoria FEMININO. </p>
          <p>§2- Se houver mais pilotos que kart nas categorias será constituído novas categorias a critério da DIRETORIA EXECUTIVA.</p>
          <p>§3 - Os dois melhores pilotos da categoria Master sobem para a categoria Elite no final da temporada e os dois piores desempenhos na categoria Elite passam para a categoria Master, da mesma forma se houver outras categorias.</p>
          <p>§4 – Se não tiver pilotos suficientes deverá ter apenas uma categoria.</p>
          <p>§5 - Todas as regras desse regulamento são aplicadas a todos os pilotos das categorias, sendo assim teremos no final da temporada campeão da Elite e campeão do Master e Feminino.</p>

          <h4 id="list-item-10" class="mt-2">ARTIGO 10º - Pontuação</h4>
          <p>1º lugar - 23</p>
          <p>2º lugar - 19</p>
          <p>3º lugar - 16</p>
          <p>4º lugar - 13</p>
          <p>5º lugar - 11</p>
          <p>6º lugar - 10</p>
          <p>7º lugar - 09</p>
          <p>8º lugar - 08</p>
          <p>9º lugar - 07</p>
          <p>10º lugar - 06</p>
          <p>11º lugar - 05</p>
          <p>12º lugar - 04</p>
          <p>13º lugar - 03</p>
          <p>14º lugar - 02</p>
          <p>15º lugar - 01</p>
          <p>§1 - Piloto que não tiver nenhuma punição durante a temporada ganhará 5 pontos na classificação geral no final da copa.</p>
          <p>§2 - Será atribuído 1 ponto por prova para o piloto que realizar a melhor volta da corrida, desde que tenha resultado aferido para todos os pilotos pelo kartódromo.</p>
          <p>§3 Se houver empate de melhor volta a pontuação será aplicada conforme $2 do artigo 8, para o piloto que estiver com menos ponto no campeonato.</p>
          <p>§4 - Se eventualmente o piloto que realizar a melhor volta for convidado, a pontuação será atribuída à segunda melhor volta e assim sucessivamente, até que a pontuação seja atribuída a um piloto da copa.</p>
          <p>§5 - Se o piloto for punido por qualquer motivo naquela etapa, não levará esse ponto da melhor volta sendo repassado para o próximo conforme regra acima.</p>

          <h4 id="list-item-11" class="mt-2">ARTIGO 11º - Premiação</h4>
          <p>§1- Haverá premiação, simbólica na forma de troféu e possíveis brindes de patrocinadores, para os cinco primeiros colocados de cada etapa por categoria.</p>
          <p>§2- O protocolo das etapas será assim: Primeiro corrida feminina se tiver e em seguida premiação feminina, depois corrida elite, master e outras se tiverem e no final premiação para todas as categorias.</p>
          <p>§3 No final da copa os cinco melhores classificados de cada categoria receberão troféus e possíveis brindes dos patrocinadores.</p>

          <h3>Egomar Prochnow</h3>
          <h5>Presidente</h5>

        </div>
    </div>
</div>


{% endblock %}